@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:rgb(255, 255, 0);;
    --light-color:#666;
    --light-color-2:rgba(202, 22, 22, 0.678);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: var(--light-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--black);
}

::selection{
    background-color: rgba(202, 22, 22, 0.541);
    color: #fff;
}

*{
    text-decoration: none;
    padding: 0;
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none; 
    border:none;
    transition: .3s ease-out;
}

html{
    color: #666;
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: url(images/bg-image.jpg);
    background-attachment: fixed;
}

.contentt{
    position: relative;
    margin: auto;
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(40, 120, 235, 0.9), rgba(40, 120, 235, 0.9)), url(images/page-header.jpg), no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.contentt h1{
    position: relative;
    top: 150px;
    font-size: 7rem;
    color: #eee;
    text-align: center;
}

.img-content::after{
    z-index: 10;
    background: url(images/overlay-bottom.png) bottom center no-repeat;
    left: 0;
    background-size:contain;
    position: absolute;
    content: "";
    width: 100vw;
    height: 85px;
    top: 415px;
}

.image-content::after{
    z-index: 10;
    left: 0;
    background-size:contain;
    position: absolute;
    content: "";
    width: 100%;
    height: 85px;
    top: 44px;
}

.heading{
    text-align: center;
    padding:5rem 0;
    padding-bottom: 4rem;
    font-size: 3.5rem;
    color: #2878EB !important;
    border-bottom: 2px dashed rgba(202, 22, 22, 0.541);
}

.btn-icon {
    width: 77px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 1rem;
}

.mr-4, .mx-4 {
    margin-right: 1.5rem !important;
    background-color: var(--light-color-2);
}

.button{
    margin-top: 5rem;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 100000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}


.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #2878EB !important;
}

.header .logo:hover{
    color: rgba(202, 22, 22, 0.541);
}


.header .navbar a{
    font-size: 2rem;
    margin:0 1rem;
    color:var(--light-color);
}

.header .navbar a:hover{
    color: rgba(202, 22, 22, 0.541);
}

#for-id{
    margin-top: 200px;
    display: none;
}

#menu-btn{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--light-color);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
    display: none;
}

#menu-btn:hover{
    background: #2878EB;
    color: #eee;
}

.home .box-container .box h1{
    font-size: 2rem;
    line-height: 1.8rem;
    justify-content: top;
} 

.home .box-container .box p{
    font-size: 2rem;
    position: relative;
    top: 3rem;
    justify-content: top;
} 

.home{
    position: relative;
    top: 90px;
    max-width: 1068px;
    margin: auto;
    width: 100%;    
    color:var(--light-color);
}


.home .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
.home .box-container .box{
    padding:6rem 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    outline: var(--outline);
}

.content{
    position: relative;
    top: 110px;
    max-width: 1068px;
    margin: auto;
    width: 100%;
    color:var(--light-color);
}

.content .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem , 1fr));
    gap: 1.5rem;
}

.content .box-container .box{
    padding:3rem 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    font-size: 1.4rem;
    outline: var(--outline); 
}

.coursec{
    position: relative;
    top: 130px;
    max-width: 1068px;
    margin: auto;
    width: 100%;
    color:var(--light-color);
}

.coursec .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem , 1fr));
    gap: 1.5rem;
}

.coursec .box-container .box{
    padding: 3rem 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    font-size: 1.4rem;
    outline: var(--outline);
}

.coursec .box-container .box img{
    width: 22vw;
}

.coursec .box-container .box img:hover{
    transform: scale(1.2);
    
}

.coursec .box-container .box img:hover  {
    transform: scale(1.1);
}

.join-course{
    position: relative;
    top: 160px;
    max-width: 1068px;
    margin: auto;
    width: 100%;
    color:var(--light-color);
}

.join-course .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax( 40rem , 1fr));
    gap: 1.5rem;
}

.join-course .box-container .box{
    padding: 2rem 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    font-size: 1.4rem;
    outline: var(--outline);
    text-align: center;
}

.join-course .btn-join{
    padding: 2rem 5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    font-size: 1.4rem;
    outline: var(--outline);
    background-color: var(--light-color-2); 
    color: #eee;
    cursor: pointer;
}

.btn , .button{
    position: relative;
    top: 50px;
    display: inline-block;
    padding:1.5rem;
    margin: 1rem;
    font-size: 2rem;
    border-radius: .5rem;
    border: none;
    background-color: rgba(40, 120, 235, 0.9);
    color: #eee;
    cursor: pointer;
}

.btn:hover , .button:hover{
    background-color: rgb(12, 71, 153) !important   ;
    color: #eee;
    border: none;
}

.join-course .box-container .box input{
    width: 20vw;
    height: 10vh;
    padding: 10px;
    font-size: 2rem;
    border: 2px dashed var(--light-color-2);
    text-transform: capitalize;
}

::placeholder{
    font-size: 2rem;
}

.our-teachers{
    position: relative;
    top: 190px;
    max-width: 1068px;
    margin: auto;
    width: 100%;
    color:var(--light-color);
}

.our-teachers .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(20rem , 1fr));
    gap: 1.5rem;
}

.our-teachers .box-container .box{
    padding: 2rem 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    font-size: 1.4rem;
    outline: var(--outline);

}

.our-teachers .box-container .box img{
    width: 22vw;
}

.our-teachers .box-container .box a{
    text-align: center;
    font-size: 2rem;
}

.footer{
    position: relative;
    top: 220px;
    background: url(images/overlay-top.png) top center no-repeat;
    background-size: contain;
    background-color:   #120F2D;
    color: #eee;
}

.footer h1:last-child{
    text-align: center;
}

.footer .box-container-1{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(40rem , 1fr));
}

.footer .box-container-1 .box{
    padding: 2rem 2rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    text-align: center;
}

.footer .box-container-2{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem , 1fr));
}

.footer .box-container-2 .box{
    padding: 2rem 2rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    text-align: left;
    padding-top: 10px;
}

.footer .box-container-2 .box h3{
    display: block;
    font-size: 2rem;
    padding-top: 10px;
}

.footer .box-container-2 .box a{
    display: block;
    color: #eee;
    font-size: 2rem;
    padding-top: 10px;
}

.footer .box-container-2 .box a:hover{
    color: #2878EB  ;
}

.footer .box-container-2 .box:nth-child(1) a{
    display: inline;
    padding: 1.5rem;
}

.footer .box-container-2 .box:last-child a{
    display: inline;
    margin: 1rem;
    text-decoration: none !important;
    border: none !important;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .image-content::after{
        top: 16px;
    }
    .img-content::after{
        top: 450px;
    }

    .home .box-container .box img{
        width: 40vw;
    }

    .content .box-container .box img{
        width: 40vw;
    }

    .coursec .box-container .box img{
        width: 25vw;
    }

    .our-teachers .box-container .box img{
        width: 25vw;
    }

    .join-course .box-container .box input{
        width: 30vw
    }
}

@media (max-width:770px){
    .image-content::after{
        top: 24px;
    }

    .img-content::after{
        top: 450px;
    }

    #menu-btn{
        display: inline-block;
    }

    .home .box-container .box img{
        height: 90vh;
    }

    .content .box-container .box img{
        height: 90vh;
    }

    .coursec .box-container .box img{
        width: 25vw;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:20rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:1rem 2.5rem;
        display: block;
    }

    .join-course .box-container .box input{
        width: 43vw
    }
}

@media (max-width:598px){
    .image-content::after{
        top: 13px;
    }

    .img-content::after{
        top: 450px;
    }

    .join-course .box-container .box input{
        width: 87vw
    }
    
}

@media (max-width:563px) {

    .home .box-container .box img{
        width: 85vw;
    }

    .content .box-container .box img{
        width: 80vw;
    }

    .coursec .box-container .box img{
        width: 25vw;
    }

    .our-teachers .box-container .box img{
        width: 25vw;
    }

    .join-course .box-container .box input{
        width: 82vw
    }
    
    
}

@media (max-width:387px) {
    .home .box-container .box img{
        width: 80vw;
    }

    .image-content::after{
        top: 6px;
    }
    .img-content::after{
        top: 450px;
    }

    .content .box-container .box img{
        width: 80vw;
    }

    .coursec .box-container .box img{
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    .join-course .box-container .box input{
        width: 80vw
    }
    
    .our-teachers .box-container .box img{
        width: 80vw;
    }
}